/* html, body {
    width: 100%;
    height: 100%;
  } */

  * {
      font-family: 'Roboto', sans-serif;
  }


.main-cont {
  height: 100vh;
}

.landingSlogan {
  font-family: 'Alegreya Sans SC';
}

.RTSlist {
  font-family: 'Didact Gothic';
}



.topcontainer {
  
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topcontainer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:rgba(255,0,0,0.3); */
  background: rgb(89,62,138);
  background: radial-gradient(circle, rgba(89,62,138,1) 0%, rgba(45,30,72,1) 100%);
  box-shadow: 10px 10px 8px #888888;
  height: 100%;
}

header {
  /* background: #F2441A; */
  width: 10%;

  background-color: rgba(55, 29, 42, 0.55);
  height: 89px;
}

.toppage {
  /* background-image: linear-gradient(#ff471a, red); */
  position: relative;
  display: flex;
  justify-content: left;
  height: 10%;
}
.logo {
  position: absolute;
  width: 6%;
  height: auto;
  margin-top: -6px;
  margin-left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-two {
  position: absolute;
  
  
  padding: 0px 9px 9px 6px;
  
}

.doubleButton {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin-top: 50px;
  padding-right: 105px;
}

.start-btn-top {
    position: absolute;
    top: 55px;
    /* left: 85%; */
    width: 100px !important;
}
.login-btn-top {
    position: absolute;
    margin-right: 15px;
    width: 75px;
    height: 35px;
    top: 55px;
    /* left: 80%; */
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    color: #E9F1F7;
    border: #E9F1F7 solid 1px;
}

.login-btn-top:hover,
.login-btn-top:focus {
    background: #9CE37D;
    color: #fff8e8;
}


.login-btn-top:active {
    transform: scale(0.99);
}

.logo-two img {
    width: 190px;
    margin-top: 50px;
    margin-left: 105px
}

.startBox-container {
    display: flex;
    justify-content: center;
    align-content: center;
  width: 460px;
  height: 100%;
}

.startBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  /* background: url(./imgs/Group10003.png); */
  text-align: center;
  
  width: 100%;
  background-repeat: no-repeat;

  margin-right: 25px;
  overflow: hidden;
}

.startBox-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 100%;

    border-radius: 6px;
    margin-left: 25px;
    overflow: hidden;
  }

  .startBox-two img {
    width: 320px;
  }

.startBox ul {
    color: #E9F1F7;
    line-height: 200%;
    list-style: none;
    margin-right: 40px;
    font-size: 20px;
}

.startBox h1 {
    margin-top: 30px;
    font-size: 34px;
    color: #E9F1F7;
    padding-left: 30px;
}

.start-btn {
    display: inline-block;
    border: none;
    
    margin: 0;
    height: 35px;
    width: 175px;
    
    text-decoration: none;
    background: #9CE37D;
    color: #2D1E48;
    font-family: roboto;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    z-index: 5000;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
                
    -webkit-appearance: none;
    -moz-appearance: none;
}

.start-btn:hover,
.start-btn:focus {
    background: #2D1E48;
    color: #fff8e8;
    border: 1px solid white;
}

.start-btn:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.start-btn:active {
    transform: scale(0.99);
}


.start-content {
  margin-top: 25px;
  
  text-align: center;
  color: #fff8e8;
  
  
  /* transform: translate(-50%, -50%); */
  height: auto;
}

.doubleButton button {
  
  /* border: 1px solid black; */

  padding: 5px 15px;
}

.doubleButtonSingle {
  background: #3f2a68;
  border: 1px solid white;
  border-right: 1px solid lightgrey;
  color: white;
}

.doubleButtonSingle2 {
  background: #9CE37D;
  border: 2px solid black;
  border-left: 0px solid white;
}

.start-content li {
    text-align: left;
    font-size: 26px;
    list-style: none;
}

.start-content h2 {
    margin-top: 15px;
    
}

.start-content ul {
    margin: 65px 0 45px 0;
    margin-left: 50px;
    
    
}

.vl {
  border-left: 1px solid rgba(42, 42, 50, 0.3);
  margin: 0 130px;
  height: 500px;
}

.slogan {
  font-size: 3.8rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  width: 40%;
  text-align: center;
  margin-right: 10%;
  color: white;
  text-shadow: 1px 1px grey;
  z-index: 2;
}

/* .signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
} */

.signin h2 {
  color: white !important;
  font-weight: bold
}

.loader {
  margin: 0px!important;
}


.innerSignin {
  background: rgb(238, 238, 238);
  border-radius: 5px;
  border: 1px solid lightgrey;
  width: 300px;
  height: 320px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  overflow: hidden;
}

.centerSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}



@media (max-width: 860px) {
  .step-container p {
    margin-left: 60px;
  }
}



@media (max-width: 860px) {
  .toppage {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  .logo-two img {
    margin-top: 50px;
    margin-left: 0px;
    padding-left: 20%;
}

  .start-content {
    display: none;
  }

  .startBox h1 {
    margin-bottom: 40px;
  }

  .startBox button {
    margin-top: 50px;
  }

  .doubleButton {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 60px;
    padding-right: 105px;
  }



  .slogan {
    margin: 0px;
    width: 80%;
    margin-bottom: 40px;
  }

  .step-container {
    flex-direction: column;
    margin-top: 40px;
  }

  .step-container p {
    margin: 0px;
    margin-top: 60px;
  }

  .lower-content-fade h3 {
    text-align: center;
  }


  .startBox {
      justify-content: center;
      text-align: center;
      line-height: 0;
      margin-top: 170px;
      
  }

  .startBox-two {
    justify-content: center;
    width: 100%;
    bottom: 10%;
    margin-top: 50px;

  }
  
  .topcontainer-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;

    /* background-color:rgba(255,0,0,0.3); */

  }

  .startBox-container {

    margin: 0;
  }

  .start-btn-top {
    position: absolute;
    top: 55px;
    left: 75%;
    width: 100px !important;
}
.login-btn-top {
    position: absolute;
    margin-right: 15px;
    width: 75px;
    height: 35px;
    top: 55px;
    left: 60%;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    color: #E9F1F7;
    border: #E9F1F7 solid 1px;
}

.logo-two {
  
  
  /* width: 35vw; */
  
  padding: 12px 9px 9px 6px;
  /* margin-left: 5%; */
}


}
