.containerCenter {
    display: flex;
    justify-content: center;
    background-color: #E9F1F7;
   
    
    width: 85%;
    margin: 0px auto;
 }
 
 .profilePic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #593C8F;
   margin-bottom: 10px;
    border-radius: 9px;
 }
 
 .profileText {
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .profileCard{
    background: white;
 }

 .profileContainer h3 {
   font-family: 'Alegreya Sans SC';
 }
 
 .profileContainer {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
 
    margin-top: 50px;
    border: 1px solid lightgrey;

    border-radius: 5px;
    width: 700px;
    height: 100%;
    margin-bottom: 50px;
    background-color: white;
 }
 
 .deleteContainer button, .hidden button, .profile-div button {
    font-size: 1.1rem;
   width: 200px;
   height: 35px;
   border-radius: 5px;
   background: lightgreen;
   border: 1px solid lightgreen;
 }
 
 .profile-div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
   
 }
 
 .hidden {
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgrey;
   
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
 }

 .hidden form input {
    width: 300px;
 }
 
 .text-centers {
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
 }
 
 form input {
    margin-bottom: 20px
 }
 
 .deleteContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid red;
   
 }
 
 .deleteContainer p {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 .profileContainer h2 {
    text-align: center;
 }
 
 .deleteContainer button {
    margin-bottom: 40px;
    background: white;
    color: red;
    font-weight: light;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid red;
 }
 
 h2, h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    /* text-decoration: underline; */
 }
 
 .red {
    color: red;
 }
 
.popup {
   position: fixed;
   z-index: 2;
   height: 200px;
   width: 450px;
   overflow: auto;
   background: white;
   box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
   border-radius: 5px;
   top: 180px;
}

.popup p {
   margin-top: 40px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 1.1rem;
}

.popup h4 {
   text-align: right;
   background: #ff2b2b;
   padding-right: 10px;
   color: lightgrey;
   cursor: pointer;
}

.popup button {
   width: 100px; 
   margin: 10px;
   background: #ff2b2b;
   border: 1px solid lightgrey;
   padding: 5px;
   color: white;
   border-radius: 15px;
   outline: none;
}
 
 
@media (max-width: 770px) {

    .profileContainer {
        width: 90%;
    }

}

@media (max-width:700px) {

    .profile-div {
        flex-direction: column;
        align-items: center;
    }

    .deleteContainer p {
        text-align: center;
    }

}
