.containerCenter {
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
   
 }
 
 .profilePic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid grey;
    border-radius: 15px;
 }
 
 .profileText {
    font-size: 1.5rem;
 }
 
 .profileContainer {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
 
    margin-top: 50px;
    border: 1px solid grey;
    border-radius: 15px;
    width: 700px;
    height: 100%;
    margin-bottom: 50px;
    background-color: white;
 }
 
 .deleteContainer button, .hidden button, .profile-div button {
   width: 200px;
   height: 35px;
   border-radius: 5px;
   background: lightgreen;
   border: 1px solid lightgreen;
 }
 
 .profile-div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
   
 }
 
 .hidden {
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgrey;
   
    width: 100%;
    height: 250px;
 }
 
 .text-centers {
    text-align: center;
 }
 
 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
 }
 
 form input {
    margin-bottom: 20px
 }
 
 .deleteContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid red;
   
 }
 
 .deleteContainer p {
    font-size: 1.5rem;
 }
 
 .profileContainer h2 {
    text-align: center;
 }
 
 .deleteContainer button {
    margin-bottom: 40px;
    background: red;
    color: white;
    border: 1px solid red;
 }
 
 h2, h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    /* text-decoration: underline; */
 }
 
 h3 {
    color: red;
   
 }
 
 
 
@media (max-width: 770px) {

    .profileContainer {
        width: 90%;
    }

}

@media (max-width:700px) {

    .profile-div {
        flex-direction: column;
        align-items: center;
    }

    .deleteContainer p {
        text-align: center;
    }

}
