.noReview {
  color: lightgrey;
  width: 40%;
  margin-top: 100px;
  
  text-align: center;
}

.ProfileWrap {
  display: flex;
    justify-content: center;
}

.ProfileCardList {
  display: flex;
  flex-direction: column;
}

.EditBtn {
  color: white;
}

.ProfileFontss {
  font-family: 'Didact Gothic' !important;
}