.card-container {
    display: flex;
    flex-direction: row;
    width: 40rem;
    margin: 10px auto;
    border-radius: 3;
    box-sizing: border-box;
}

.card {
    box-sizing: border-box;
    overflow: hidden;
}

.playbuttons {

    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    background: #DA2C38;
    padding-top: 5px;
    border-radius: 5px;
}

.upvote {
    margin: 0px;
}

.upvote-container {
    display: flex;

    justify-content: center;
    width: 50px;
    background: #DA2C38;
}

.upvote-container div p {
    text-align: center;
    font-weight: bold;
}

.upvote-container div {
    margin-top: 10px;
}

.card-body {
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.cardTitle {
    border-bottom: 1px solid lightgrey;
    font-size: 1.2rem;
}

.cardAddress {
    font-size: .8rem;
}

.complaintWrapper {
    display: flex;
}



@media (max-width: 700px) {
    .card-container{
        width: 90%;
        margin: 13px auto;
        border-radius: 10px;
    }

    .textContainer {
        text-align: center;
        margin-top: 20px;
    }
}

