.card-container {
    display: flex;
    flex-direction: row;
    width: 40rem;
    margin: 10px auto;
    border-radius: 3;
    box-sizing: border-box;
}

.card {
    box-sizing: border-box;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.cardClicker:hover {
    cursor: pointer;
}

.playbuttons {

    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    background: #DA2C38;
    padding-top: 5px;
    border-radius: 5px;
}

.upvote {
    margin: 0px;
}

.upvote-container {
    display: flex;

    justify-content: center;
    width: 50px;
    background: #593C8F;
}

.upvote-container div p {
    text-align: center;
    font-weight: bold;
}

.upvote-container div {
    margin-top: 10px;
}

.card-body {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    overflow: hidden;
}

.cardTitle {
    
    font-size: 1.2rem;
    text-align: left;
    margin: 0px;
}

.cardAddress {
    font-size: .8rem;
    text-align: left;
}

.complaintText {
    text-align: left;
    margin-top: 18px;
}

.complaintWrapper {
    display: flex;
}

.titleAddy {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

.fas.fa-chevron-up, .upvote, .fas.fa-chevron-down {
    color: #E9F1F7 ;
}


.fas.fa-chevron-up:hover , .fas.fa-chevron-down:hover {
    color: grey;
}


@media (max-width: 700px) {
    .card-container{
        width: 90%;
        margin: 13px auto;
        border-radius: 10px;
    }

    .textContainer {
        text-align: center;
        margin-top: 20px;
    }
}

