.card-container{
    width: 40rem;
    margin: 13px auto;
    border-radius: 10px;
}

.playbuttons {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    background: linear-gradient(#ff471a, red);
    padding-top: 5px;
    border-radius: 5px;
}

.card-body {
    
    
}

@media (max-width: 700px) {
    .card-container{
        width: 90%;
        margin: 13px auto;
        border-radius: 10px;
    }

    .textContainer {
        text-align: center;
        margin-top: 20px;
    }
}

