.navbar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background: #593C8F !important;
    padding: 20px 10px;
    
}

.centered {

    width: 302px;

}

.navbar-brand img {
    width: 5%;
    align-items: left !important;
}

.navbar-brand {
    align-items: left !important;
    font-size: 2rem;
}

.navbar-light .navbar-brand {
    color: #E9F1F7;
}

.dropdown-toggle.nav-link {
    color: #E9F1F7 !important;
}