.navbar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background: #593C8F !important;
    padding: 20px 10px;
    
}

.centered {

    width: 302px;

}

.fontchange2 {
    font-family: 'Didact Gothic';
    font-size: 1.2rem;
}

.fontchange3 {
    font-family: 'Didact Gothic';
    font-size: 1.2rem;
}

.logo-nav {
    display: flex;
    justify-content: left;
    
  
    width: 250px;
    
    padding: 0px;
    margin-left: 5%;
  }

  .logo-nav img {
    width: 50%;
    height: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.navbar-brand img {
    /* width: 5%; */
    align-items: left !important;
}

.navbar-brand {
    align-items: left !important;
    font-size: 2rem;
}

.navbar-light .navbar-brand {
    color: #E9F1F7;
}

.dropdown-toggle.nav-link {
    color: #E9F1F7 !important;
}

.signout-button {
    background: #593C8F;
    border: 1px solid #593C8F;
    width: 100%;
    color: white;
    text-align: center;
}

.signout-button:hover {
    color: white;
    text-decoration: none;
}