
.worstReviewed {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Alegreya Sans SC';
}

.complaintButton {
    position: relative;
    width: 300px;
    height: 40px;
    /* margin-bottom: 20px;
    margin-top: 20px; */
    font-family: 'Didact Gothic';
    background-color: #9CE37D;
    color: #593C8F ;
    border: 1px solid #E9F1F7;
    text-decoration: none;
    z-index: 5;
    color: black;
    /* top: -80px; */
}

.FormFonts {
    font-family: 'Didact Gothic';
}

h1 {
    font-family: Lato,sans-serif;
    font-weight: 700;
    color: #343434
}

.centered {
    margin: 1px;
    position: relative;
    width: 302px;
    z-index: 4;
    top: -60px;
    
}

.button-container {
    
    display: flex;
    justify-content: center;
    /* length: 40px; */
}

/* background: linear-gradient(#ff471a, red); */


.Homepage {
    background-color: #E9F1F7;
    
    width: 85%;
    margin: 0px auto;
}

.profileCard {
    box-sizing: border-box;
    width: 210px;
    height: 320px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
    overflow: hidden;
}

.profileCard img {
    width: 208px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
}

.profileCard p {
    font-size: 1rem;
    font-family: Lato,sans-serif; 
    font-weight: 700;
}

.CardImg {

    width: 100%;

}

.imgdiv {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
    background: #593C8F;
}

.EditBtn {
    background: #593C8F;
    border: 1px solid #593C8F;
    width: 80%;
    height: 35px;
    border-radius: 2px;
}



.HomeWrapper {
    display: flex;
    justify-content: center;
}

.BarGraph {
    margin-left: 10px;
    width: 450px;  
}

.LoadMoreFeed {
    width: 40rem;
    color: white;
    border: 1px solid #593C8F;
    background: #593C8F;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Didact Gothic';
}



@media (max-width: 550px) {

    /* .centered {
        margin: 1px;
        position: relative;
        width: 302px;
        top: 10px;
    } */

    
}

@media (max-width: 1115px) {

    .HomeWrapper {
    flex-direction: column-reverse;
    }

    .BarGraph {
        margin: 10px auto;
        width: 600px;
        
    }
    
}

@media (max-width: 700px) {
    .BarGraph {
        
        width: 90%;
        
    }
}

@media (max-width: 770px) {

    

    .centered {
        margin: 1px;
        position: relative;
        width: 302px;
        top: 10px;
    }

    h1 {
        margin-top: 50px;
    }

}

@media (max-width: 900px) {
    .profileCard {
        display: none;
    }
}