* {
    box-sizing: border-box;
  }


.topcontainer {
    background-image: url(./imgs/angry-customer2.jpg);
    background-size: cover;
} 

.topcontainer-wrapper {
    /* background-color:rgba(255,0,0,0.3); */
    background-color: rgba(248, 132, 0, 0.55);

}

header {
  
    /* background: #F2441A; */
    width: 100%;

    background-color: rgba(55,29,42,0.55);
    height: 89px;
}

.logo {
    font-size: 2rem;
    padding: 23px 0px;
    padding-left: 120px;
    color: white;
    margin: 0px;
    position: absolute;
    z-index: 2;
}

.slogan {
    font-size: 3.8rem;
    font-family: Lato,sans-serif; 
    font-weight: 400;
    width: 40%;
    text-align: center;
    margin-right: 10%;
    color: white;
    text-shadow: 1px 1px grey;
    z-index: 2;
}


.toppage {
    /* background-image: linear-gradient(#ff471a, red); */
    
    
    display: flex;
    justify-content: center;
    padding: 115px 0px;
    
}


.signin {
    width: 270px;
    height: 280px;
    text-align: center;
    /* border: 1px solid transparent; */
    border-radius: 5px;
    background: #EAEDED;
    overflow: hidden;
    z-index: 2;
}

.signin h2 {
    background-image: linear-gradient(#ff471a, red);
    margin: 0;
    margin-bottom: 35px;
    padding: 10px 0px;
    color: white;
}


.three-steps {
    text-align: center;
}


.simplethree {
    text-align: center;
    font-size: 3rem;
    font-family: Lato,sans-serif;
    color: #2F2F2F;
}

.line {
    display: flex;
    justify-content: center;
}

.line div {
    width: 80px;
    border-bottom: 5px solid #ff471a;
    text-align: center;
}

.step-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-list i {
    margin-top: 40px;
    width: 100px;
    height: 100px;
    background: linear-gradient(#ff471a, red);
    border-radius: 50%;
    text-align: center;
    line-height: 2;

}

.step-list p {
    margin-top: 50px;
    font-size: 1.8rem;
    
}

.step-container {
    width: 60%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.step-container p {
    margin-left: 120px;
}

.lowpage {
    background: #2F2F2F;
    
    margin-top: 80px;
}

.lowpage h3 {
    font-size: 2.5rem;
    color: white;
    font-family: Lato,sans-serif;
    font-weight: 400;
}

.lowpage p {
    font-family: arial;
    color: white;
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
    margin-bottom: 80px;
}

.lower-content-fade {
    display: flex;
    align-items: center;
    flex-direction: column;
}